<!DOCTYPE html>
<html lang="en">

<head>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pages / Register - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Nov 17 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                <style>
                    .logo img {
                      border-radius: 50%; /* Set border-radius to 50% for a circular or oval shape */
                    }
                </style>

              <div class="alert alert-success alert-dismissible fade show" role="alert1" style="display: none;">
                New Account has successfully registered.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>

              <div class="alert alert-danger alert-dismissible fade show" role="alert2" style="display: none;">
                Houston....The email is already being registered.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/MelakaGo.png" alt="">
                  <span class="d-none d-lg-block">MelakaGo</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>

                  <form class="row g-3 needs-validation"  method="post" action="melakago_php/appuser.php" novalidate>

                    <div class="col-12">
                        <div class="row">
                          <div class="col-md-6">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="firstName" required>
                            <div class="invalid-feedback">Please, enter your First Name!</div>
                          </div>
                          <div class="col-md-6">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lastName" required>
                            <div class="invalid-feedback">Please, enter your Last Name!</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-12">
                        <label for="nickName" class="form-label">Nick Name</label>
                        <input type="text" name="name" class="form-control" id="nickName" required>
                        <div class="invalid-feedback">Please, enter your Nick Name!</div>
                      </div>

                      <div class="col-12">
                        <div class="row">

                            <div class="col-md-6">
                                <label for="dateOfBirth" class="form-label">Date Of Birth</label>
                                <div class="input-group">
                                    <input type="text" class="form-control datepicker" id="dateOfBirth" name="dateOfBirth" required>
                                    <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                                </div>
                                <div class="invalid-feedback">Please enter a valid Date Of Birth!</div>
                            </div>
    

                          <div class="col-md-6">
                            <label for="country" class="form-label">Country</label>
                            <select class="form-select" id="country" required>
                                <option selected disabled value="">Select Country</option>
                                <option>Afghanistan</option>
                                <option>Albania</option>
                                <option>Algeria</option>
                                <option>Andorra</option>
                                <option>Angola</option>
                                <option>Argentina</option>
                                <option>Armenia</option>
                                <option>Australia</option>
                                <option>Austria</option>
                                <option>Azerbaijan</option>
                                <option>Bahamas</option>
                                <option>Bahrain</option>
                                <option>Bangladesh</option>
                                <option>Belarus</option>
                                <option>Belgium</option>
                                <option>Bhutan</option>
                                <option>Bolivia</option>
                                <option>Bosnia and Herzegovina</option>
                                <option>Brazil</option>
                                <option>Brunei</option>
                                <option>Cambodia</option>
                                <option>Canada</option>
                                <option>Chile</option>
                                <option>China</option>
                                <option>Congo</option>
                                <option>Croatia</option>
                                <option>Cuba</option>
                                <option>Cyprus</option>
                                <option>Czech Republic</option>
                                <option>Denmark</option>
                                <option>Ecuador</option>
                                <option>Egypt</option>
                                <option>England</option>
                                <option>Fiji</option>
                                <option>Finland</option>
                                <option>France</option>
                                <option>Germany</option>
                                <option>Ghana</option>
                                <option>Greece</option>
                                <option>Hungary</option>
                                <option>Iceland</option>
                                <option>India</option>
                                <option>Indonesia</option>
                                <option>Iran</option>
                                <option>Iraq</option>
                                <option>Ireland</option>
                                <option>Italy</option>
                                <option>Jamaica</option>
                                <option>Japan</option>
                                <option>Jordan</option>
                                <option>Kazakhstan</option>
                                <option>Kenya</option>
                                <option>Kiribati</option>
                                <option>Kosovo</option>
                                <option>Kuwait</option>
                                <option>Kyrgyzstan</option>
                                <option>Laos</option>
                                <option>Latvia</option>
                                <option>Lebanon</option>
                                <option>Lesotho</option>
                                <option>Liberia</option>
                                <option>Libya</option>
                                <option>Liechtenstein</option>
                                <option>Lithuania</option>
                                <option>Luxembourg</option>
                                <option>Macau</option>
                                <option>Madagascar</option>
                                <option>Malawi</option>
                                <option>Malaysia</option>
                                <option>Maldives</option>
                                <option>Mali</option>
                                <option>Malta</option>
                                <option>Mauritania</option>
                                <option>Mauritius</option>
                                <option>Mexico</option>
                                <option>Micronesia</option>
                                <option>Moldova</option>
                                <option>Monaco</option>
                                <option>Mongolia</option>
                                <option>Montenegro</option>
                                <option>Morocco</option>
                                <option>Myanmar</option>
                                <option>Nepal</option>
                                <option>Netherlands</option>
                                <option>New Zealand</option>
                                <option>Nigeria</option>
                                <option>Northern Ireland</option>
                                <option>Norway</option>
                                <option>Oman</option>
                                <option>Pakistan</option>
                                <option>Palau</option>
                                <option>Palestine</option>
                                <option>Panama</option>
                                <option>Papua New Guinea</option>
                                <option>Paraguay</option>
                                <option>Peru</option>
                                <option>Philippines</option>
                                <option>Poland</option>
                                <option>Portugal</option>
                                <option>Qatar</option>
                                <option>Republic of Macedonia</option>
                                <option>Romania</option>
                                <option>Russia</option>
                                <option>Saudi Arabia</option>
                                <option>Scotland</option>
                                <option>Senegal</option>
                                <option>Serbia</option>
                                <option>Seychelles</option>
                                <option>Sierra Leone</option>
                                <option>Singapore</option>
                                <option>Slovakia</option>
                                <option>Slovenia</option>
                                <option>Solomon Islands</option>
                                <option>Somalia</option>
                                <option>South Africa</option>
                                <option>South Korea</option>
                                <option>Spain</option>
                                <option>Sri Lanka</option>
                                <option>Sudan</option>
                                <option>Swaziland</option>
                                <option>Sweden</option>
                                <option>Switzerland</option>
                                <option>Syria</option>
                                <option>Tajikistan</option>
                                <option>Tanzania</option>
                                <option>Thailand</option>
                                <option>Togo</option>
                                <option>Tonga</option>
                                <option>Tunisia</option>
                                <option>Turkey</option>
                                <option>Turkmenistan</option>
                                <option>Uganda</option>
                                <option>Ukraine</option>
                                <option>United Arab Emirates</option>
                                <option>United Kingdom</option>
                                <option>United States</option>
                                <option>Uruguay</option>
                                <option>Uzbekistan</option>
                                <option>Venezuela</option>
                                <option>Vietnam</option>
                                <option>Wales</option>
                                <option>Yemen</option>
                                <option>Zambia</option>
                                <option>Zimbabwe</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid points!
                              </div>
                          </div>

                         
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="row">
                            <div class="col-md-6">
                              <label for="phoneNumber" class="form-label">Phone Number</label>
                              <input type="phoneNumber" name="phoneNumber" class="form-control" id="phoneNumber" required>
                              <div class="invalid-feedback">Please enter a valid Phone Number!</div>
                            </div>
                            <div class="col-md-6">
                              <label for="adminRole" class="form-label">Admin Role</label>
                              <select class="form-select" id="role_id" required onchange="updateRoleId(this.value)">
                                  <option selected disabled value="">Select Role</option>
                                  <option value="1">SYSTEM ADMIN</option>
                                  <option value="2">BUSINESS SPOT DATA COLLECTOR</option>
                                  <option value="3">TOURIST ACTIVITY CURATOR</option>
                              </select>
                              <input type="hidden" name="roleId" id="roleId" value="1">
                              <div class="invalid-feedback">Please enter your Role!</div>
                          </div>
                        </div>
                      </div>

                    <div class="col-12">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" name="email" class="form-control" id="email" required>
                      <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                    </div>

                    <div class="col-12">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="password" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href="login.html">Log in</a></p>
                    </div>
                  </form>

                </div>
              </div>

              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed by <a >MelakaGo</a>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <script>

    $(document).ready(function () 
    {

      var formSubmitted = false; 

      // Initialize the date picker
      $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                todayHighlight: true,
                endDate: new Date()
      });

      // Add validation for the date picker field
      $('.datepicker').on('changeDate', function () {
                // You can perform validation or other actions here
                var isValid = true;  // Add your validation logic
                if (!isValid) {
                    // If validation fails, reset the value
                    $(this).val('');
                }
      });

       
      $("form").submit(function (e) 
      {

          e.preventDefault(); // prevent the form from submitting in the traditional way
          
         // Get form data
          var firstName = $("#firstName").val();
          var lastName = $("#lastName").val();
          var nickName = $("#nickName").val();
          var dateOfBirth = $("#dateOfBirth").val();
          var country = $("#country").val();
          var phoneNumber = $("#phoneNumber").val();
          var roleId = $("#role_id").val();
          var email = $("#email").val();
          var password = $("#password").val();
          var accessStatus = "ACTIVE";
          var points = 0;

          var success=false;

          if (formSubmitted) 
          {
            return;  // If the form has already been submitted, do nothing
          }

          // AJAX call
          $.ajax
          ({
            type: "POST",
            url: "melakago_php/appuser.php",
            contentType: 'application/x-www-form-urlencoded',
            data: {
                firstName: firstName,
                lastName: lastName,
                nickName: nickName,
                dateOfBirth: dateOfBirth,
                phoneNumber: phoneNumber,
                email: email,
                password: password,
                accessStatus: accessStatus,
                country: country,
                roleId: roleId,
                points: points
            },
            success: function(response) {
              console.log('Response:',response);

               // Check if the parsed JSON contains a key indicating an error
                if (response && response.error && response.error.toLowerCase().includes("email is already registered")) {
                    document.querySelector('.alert.alert-success.alert-dismissible.fade.show[role="alert1"]').style.display = 'none';
                    document.querySelector('.alert.alert-danger.alert-dismissible.fade.show[role="alert2"]').style.display = 'block';
                } else {
                    // Assuming the response is successful
                    document.querySelector('.alert.alert-success.alert-dismissible.fade.show[role="alert1"]').style.display = 'block';
                    document.querySelector('.alert.alert-danger.alert-dismissible.fade.show[role="alert2"]').style.display = 'none';
                    setTimeout(function () {
                        window.location.href = 'login.html';
                    }, 1000);
                }
                
            },
            error: function(jqXHR, textStatus, errorThrown) {

                if (jqXHR.status === 401) 
                {
                // Unauthorized, redirect to indexMain.html
                  window.location.href = 'indexMain.html';
                } else {
                  // Handle other errors
                  console.error('AJAX Error:', textStatus, errorThrown);
                }

              console.log("You're here");
              console.log('here',firstName);
              console.log('here',lastName);
              console.log('here',nickName);
              console.log('here',dateOfBirth);
              console.log('here',firstName);
              console.log('here',phoneNumber);
              console.log('here',email);
              console.log('here',password);
              console.log('here',accessStatus);
              console.log('here',country);
              console.log('here',roleId);
              console.log('here',points);
            }
          });

          formSubmitted = true;

        

      });

    });

    function updateRoleId(roleId)
    {
        document.getElementById('roleId').value = roleId;
    }
    
  </script>

</body>

</html>