<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Users / Profile - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Nov 17 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <style>
      .logo img {
        border-radius: 50%; /* Set border-radius to 50% for a circular or oval shape */
      }
    </style>

    <div class="d-flex align-items-center justify-content-between">
      <a href="indexBDSC.html" class="logo d-flex align-items-center">
        <img src="assets/img/MelakaGo.png" alt="">
        <span class="d-none d-lg-block">MelakaGo</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            
            <span class="d-none d-md-block dropdown-toggle ps-2"></span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Hi, User!</h6>
              <span>BUSINESS SPOT DATA COLLECTOR</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="userProfile.html" id="userProfileLink">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
          
            <li>
              <a class="dropdown-item d-flex align-items-center" href="#" onClick="signOut()">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="indexBDSC.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
        
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="tourismservices.html">
          <i class="bi bi-menu-button-wide"></i><span>Tourism Services</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="searchServices.html">
              <i class="bi bi-circle"></i><span>Tourism Service Management</span>
            </a>
          </li>
          <li>
            <a href="tourismserviceadd.html">
              <i class="bi bi-circle"></i><span>Add Services</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->
   </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="indexBDSC.html">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="alert alert-success alert-dismissible fade show" role="alert1" style="display: none;">
          Password Successfully being saved...
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    
    
        <div class="alert alert-danger alert-dismissible fade show" role="alert2" style="display: none;">
          Houston... New Password Doesn't Match The Confirmation Password.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    
        <div class="alert alert-danger alert-dismissible fade show" role="alert3" style="display: none;">
          Houston... Your current password is wrong.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

             
              <h2 id="userName">Kevin Anderson</h2>
              <h3>BUSINESS SPOT DATA COLLECTOR</h3>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8" id="fullName"></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Nick Name</div>
                    <div class="col-lg-9 col-md-8" id="nickName"></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Date Of Birth</div>
                    <div class="col-lg-9 col-md-8" id="DOB"></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone Number</div>
                    <div class="col-lg-9 col-md-8" id="phoneNumber"></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8" id="email"></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Role</div>
                    <div class="col-lg-9 col-md-8">Business Spot Data Collector</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form onsubmit="return confirmEdit(this);">

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nick Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="fullName" type="text" class="form-control" id="editNickName" value="Kevin">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Phone Number</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="fullName" type="text" class="form-control" id="editPhoneNumber" value="01115009757">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="fullName" type="text" class="form-control" id="editEmail" value="mahmormust@gmail.com">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary" onClick="confirmEdit()">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form onsubmit ="return confirmChangePassword(this);">

                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword1">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="confirmPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary" onClick="confirmChangePassword()">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>MelakaGo</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <script>

    // Retrieve the JSON string from sessionStorage
    var storedAppUserProfile = JSON.parse(sessionStorage.getItem('appUserProfile'));
    console.log('User Profile: ', storedAppUserProfile);

    function displayAddServicesPage(){
      window.open('tourismserviceadd.html','_self');
    }

  </script>

<script>

  function fetchUser(appUserId)
  {
      const data = {
          appUserId : appUserId,
      };

      fetch('melakago_php/editAppUser.php', 
      {
            method: 'POST', // Use the POST method
            headers: {
            'Content-Type': 'application/json' // Set the content type to JSON
            },
            body: JSON.stringify(data) // Convert the data object to a JSON string
      })
        .then(response => response.json())
        .then(data => {
            // Call a function to update the table with the fetched data
          var EditappUserProfile = 
          {
            appuserId: data.appUserId,
            firstName: data.firstName,
            lastName: data.lastName,
            nickName: data.nickName,
            dateOfBirth: data.dateOfBirth,
            phoneNumber: data.phoneNumber,
            email: data.email,
            password: data.password,
            accessStatus: data.accessStatus,
            country: data.country,
            roleId: data.roleId,
            points: data.points
          };

          sessionStorage.setItem('appUser', JSON.stringify(EditappUserProfile));
    
          console.log("HERE HOI: ",sessionStorage);
          updateUserData()
            
      })
        .catch(error => {
            console.error('Error fetching data:', error);
      });

  }

  function updateUserData()
  {
    // Retrieve the JSON string from sessionStorage
    var storedAppUserProfile = JSON.parse(sessionStorage.getItem('appUser'));
    console.log('User Profile: ', storedAppUserProfile);

    // Update the user's name in the "Profile" card
    var userNameElement = document.getElementById('userName');
    if (userNameElement) {
      userNameElement.textContent = storedAppUserProfile.firstName + ' ' + storedAppUserProfile.lastName;
    } else {
      console.log('Element with ID "userName" not found.');
    }

    // Update user nickname in the profile dropdown
    var profileDropdownHeader = document.querySelector('.dropdown-header h6');
    if (profileDropdownHeader) 
    {
      console.log('Updating user nickname.');
      profileDropdownHeader.textContent = storedAppUserProfile.firstName + " " +storedAppUserProfile.lastName ;

    } 
    else 
    {
      console.log('Profile dropdown header not found.');
    }

    var profileDropdownLink = document.querySelector('.nav-link.nav-profile');
    if (profileDropdownLink) {
        
      var profileNameSpan = profileDropdownLink.querySelector('.dropdown-toggle');

      console.log('Updating user profile information.');

      // Update profile name
      if (profileNameSpan) 
      {
       profileNameSpan.textContent = storedAppUserProfile.nickName;
      }
            
    } else {
      console.log('Profile dropdown link not found.');
    }

    // Update the Full Name in the "Profile Overview" section
    var fullNameElement = document.getElementById('fullName');
    if (fullNameElement) {
      fullNameElement.textContent = storedAppUserProfile.firstName + ' ' + storedAppUserProfile.lastName;
    } else {
      console.log('Element with ID "fullName" not found.');
    }

    // Update the Full Name in the "Profile Overview" section
    var fullNameElement = document.getElementById('nickName');
    if (fullNameElement) {
      fullNameElement.textContent = storedAppUserProfile.nickName;
    } else {
      console.log('Element with ID "fullName" not found.');
    }

    // Update the Full Name in the "Profile Overview" section
    var fullNameElement = document.getElementById('DOB');
    if (fullNameElement) {
      fullNameElement.textContent = storedAppUserProfile.dateOfBirth;
    } else {
      console.log('Element with ID "fullName" not found.');
    }

    // Update the Full Name in the "Profile Overview" section
    var fullNameElement = document.getElementById('phoneNumber');
    if (fullNameElement) {
      fullNameElement.textContent = storedAppUserProfile.phoneNumber;
    } else {
      console.log('Element with ID "fullName" not found.');
    }

    // Update the Full Name in the "Profile Overview" section
    var fullNameElement = document.getElementById('email');
    if (fullNameElement) {
      fullNameElement.textContent = storedAppUserProfile.email;
    } else {
      console.log('Element with ID "fullName" not found.');
    }

    // Update the Profile Edit Form with data from localStorage
    document.getElementById('editNickName').value = storedAppUserProfile.nickName;
    document.getElementById('editPhoneNumber').value = storedAppUserProfile.phoneNumber;
    document.getElementById('editEmail').value = storedAppUserProfile.email;

     // Get the appUserId from the storedAppUserProfile
     var appUserId = storedAppUserProfile.appuserId;

    // Update the href attribute with the appUserId
    var userProfileLink = document.getElementById('userProfileLink');
    if (userProfileLink) {
      userProfileLink.href = "userProfile.html?appUserId=" + appUserId;
    } else {
      console.error('User profile link not found.');
    }

  }
  
  // Wait for the DOM to be fully loaded
  document.addEventListener('DOMContentLoaded', function () {

    var storedAppUserProfile = JSON.parse(sessionStorage.getItem('appUserProfile'));
    var appUserId = storedAppUserProfile.appuserId;
    
    fetchUser(appUserId);
  });

</script>

  <script>
    function confirmEdit(form) {
      // Retrieve values from the form
       // Retrieve the JSON string from sessionStorage
      var storedAppUserProfile = JSON.parse(sessionStorage.getItem('appUserProfile'));
      var appUserId = storedAppUserProfile.appuserId;
      
      var nickName = form.elements['editNickName'].value;
      var phoneNumber = form.elements['editPhoneNumber'].value;
      var email = form.elements['editEmail'].value;

      // Do something with the values (e.g., display in console for demonstration)

      console.log('ID::: ', appUserId)
      console.log('Nick Name:', nickName);
      console.log('Phone Number:', phoneNumber);
      console.log('Email:', email);

      // Create an object to hold the data you want to send
      const data = {
          appUserId : appUserId,
          nickName: nickName,
          phoneNumber: phoneNumber,
          email: email,
      };

      fetch('melakago_php/editAppUser.php', 
      {
            method: 'PUT', // Use the POST method
            headers: {
            'Content-Type': 'application/json' // Set the content type to JSON
            },
            body: JSON.stringify(data) // Convert the data object to a JSON string
      })
        .then(response => response.json())
        .then(data => {
            // Handle the response from the server
            console.log("ID SEND : ", data.appUserId);
            fetchNewData(appUserId);
            
      })
        .catch(error => {
            console.error('Error fetching data:', error);
      });

      // Add your logic here to update the user profile or perform other actions

      // Return false to prevent the form from submitting (since you're handling it with JavaScript)
      return false;
    }
  </script>

  <script>

    // Function to fetch data from the server
    function fetchNewData(appUserId) {
      const data = {
          appUserId : appUserId,
      };

      fetch('melakago_php/editAppUser.php', 
      {
            method: 'POST', // Use the POST method
            headers: {
            'Content-Type': 'application/json' // Set the content type to JSON
            },
            body: JSON.stringify(data) // Convert the data object to a JSON string
      })
        .then(response => response.json())
        .then(data => {
            // Call a function to update the table with the fetched data
          var EditappUserProfile = 
          {
            appuserId: data.appUserId,
            firstName: data.firstName,
            lastName: data.lastName,
            nickName: data.nickName,
            dateOfBirth: data.dateOfBirth,
            phoneNumber: data.phoneNumber,
            email: data.email,
            password: data.password,
            accessStatus: data.accessStatus,
            country: data.country,
            roleId: data.roleId,
            points: data.points
          };

          sessionStorage.setItem('appUserEdit', JSON.stringify(EditappUserProfile));
    
          console.log("HERE HOI: ",sessionStorage);
          updateAfterEdit()
            
      })
        .catch(error => {
            console.error('Error fetching data:', error);
      });
      
    }

  </script>

  <script>
    function updateAfterEdit(){
      // Retrieve the JSON string from sessionStorage
    var storedAppUserProfile = JSON.parse(sessionStorage.getItem('appUserEdit'));
    console.log('User Profile: ', storedAppUserProfile);

    // Update the user's name in the "Profile" card
    var userNameElement = document.getElementById('userName');
    if (userNameElement) {
      userNameElement.textContent = storedAppUserProfile.firstName + ' ' + storedAppUserProfile.lastName;
    } else {
      console.log('Element with ID "userName" not found.');
    }

    // Update user nickname in the profile dropdown
    var profileDropdownHeader = document.querySelector('.dropdown-header h6');
    if (profileDropdownHeader) 
    {
      console.log('Updating user nickname.');
      profileDropdownHeader.textContent = storedAppUserProfile.firstName + " " +storedAppUserProfile.lastName ;

    } 
    else 
    {
      console.log('Profile dropdown header not found.');
    }

    var profileDropdownLink = document.querySelector('.nav-link.nav-profile');
    if (profileDropdownLink) {
        
      var profileNameSpan = profileDropdownLink.querySelector('.dropdown-toggle');

      console.log('Updating user profile information.');

      // Update profile name
      if (profileNameSpan) 
      {
       profileNameSpan.textContent = storedAppUserProfile.nickName;
      }
            
    } else {
      console.log('Profile dropdown link not found.');
    }

    // Update the Full Name in the "Profile Overview" section
    var fullNameElement = document.getElementById('fullName');
    if (fullNameElement) {
      fullNameElement.textContent = storedAppUserProfile.firstName + ' ' + storedAppUserProfile.lastName;
    } else {
      console.log('Element with ID "fullName" not found.');
    }

    // Update the Full Name in the "Profile Overview" section
    var fullNameElement = document.getElementById('nickName');
    if (fullNameElement) {
      fullNameElement.textContent = storedAppUserProfile.nickName;
    } else {
      console.log('Element with ID "fullName" not found.');
    }

    // Update the Full Name in the "Profile Overview" section
    var fullNameElement = document.getElementById('DOB');
    if (fullNameElement) {
      fullNameElement.textContent = storedAppUserProfile.dateOfBirth;
    } else {
      console.log('Element with ID "fullName" not found.');
    }

    // Update the Full Name in the "Profile Overview" section
    var fullNameElement = document.getElementById('phoneNumber');
    if (fullNameElement) {
      fullNameElement.textContent = storedAppUserProfile.phoneNumber;
    } else {
      console.log('Element with ID "fullName" not found.');
    }

    // Update the Full Name in the "Profile Overview" section
    var fullNameElement = document.getElementById('email');
    if (fullNameElement) {
      fullNameElement.textContent = storedAppUserProfile.email;
    } else {
      console.log('Element with ID "fullName" not found.');
    }

    // Update the Profile Edit Form with data from localStorage
    document.getElementById('editNickName').value = storedAppUserProfile.nickName;
    document.getElementById('editPhoneNumber').value = storedAppUserProfile.phoneNumber;
    document.getElementById('editEmail').value = storedAppUserProfile.email;

    }
  </script>

<script>
  function confirmChangePassword(form) {

    var passwordSame = false;
    var passwordChanged = false;


    // Get the questionId from the URL
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const appUserId = urlParams.get('appUserId');

    
    var currentPassword = form.elements['currentPassword'].value;
    var newPassword1 = form.elements['newPassword1'].value;
    var confirmPassword = form.elements['confirmPassword'].value;

    if (newPassword1 === confirmPassword) {
      // Passwords match, you can proceed with further actions
      passwordSame = true;
      console.log("Passwords match");
    } else {
      var passwordSame = false;
      // Passwords do not match, handle the error or display a message
      console.log("Passwords do not match");
      // You might want to add code here to inform the user or take appropriate action
    }

      
    if(passwordSame){

      document.querySelector('.alert.alert-danger.alert-dismissible.fade.show[role="alert2"]').style.display = 'none';
      // Do something with the values (e.g., display in console for demonstration)

      var samePassword=false;

      console.log('ID::: ', appUserId)
      console.log('currentPassword', currentPassword);
      console.log('newPassword1:', newPassword1);
      console.log('confrimPassword:', confirmPassword);

      const data1={
        appUserId : appUserId,
        password: currentPassword

      }

      fetch('melakago_php/checkBeforeCP.php', 
      {
            method: 'POST', // Use the POST method
            headers: {
            'Content-Type': 'application/json' // Set the content type to JSON
            },
            body: JSON.stringify(data1) // Convert the data object to a JSON string
      })
        .then(response => response.json())
        .then(data => {

           if (data.error === "user not exist.")
           {
              console.log("User not exist error");
              document.querySelector('.alert.alert-success.alert-dismissible.fade.show[role="alert1"]').style.display = 'none';
              document.querySelector('.alert.alert-danger.alert-dismissible.fade.show[role="alert2"]').style.display = 'none';
              document.querySelector('.alert.alert-danger.alert-dismissible.fade.show[role="alert3"]').style.display = 'block';
           }
           else
           {
                // Create an object to hold the data you want to send
                const data = {
                  appUserId : appUserId,
                  password: confirmPassword,
                };

                fetch('melakago_php/editAppUser.php', 
                {
                      method: 'PUT', // Use the POST method
                      headers: {
                      'Content-Type': 'application/json' // Set the content type to JSON
                      },
                      body: JSON.stringify(data) // Convert the data object to a JSON string
                })
                  .then(response => response.json())
                  .then(data => {
                      var passwordChanged = true;
                      // Handle the response from the server
                      console.log("ID SEND : ", data.appUserId);

                      if(passwordChanged){
                        document.querySelector('.alert.alert-success.alert-dismissible.fade.show[role="alert1"]').style.display = 'block';
                        document.querySelector('.alert.alert-danger.alert-dismissible.fade.show[role="alert2"]').style.display = 'none';
                        document.querySelector('.alert.alert-danger.alert-dismissible.fade.show[role="alert3"]').style.display = 'none';
                        // Delay redirection to previous page for 5 seconds
                        setTimeout(function () {
                          location.reload();
                        }, 7000);
                      }
                      else{
                        document.querySelector('.alert.alert-success.alert-dismissible.fade.show[role="alert1"]').style.display = 'none';
                        document.querySelector('.alert.alert-danger.alert-dismissible.fade.show[role="alert2"]').style.display = 'block';
                        document.querySelector('.alert.alert-danger.alert-dismissible.fade.show[role="alert3"]').style.display = 'none';
                      }

                      fetchNewData(appUserId);
                      
                })
                  .catch(error => {
                      console.error('Error fetching data:', error);
                });
          }
      })
        .catch(error => {
            console.error('Error fetching data:', error);
      });

    }
    else{
      document.querySelector('.alert.alert-danger.alert-dismissible.fade.show[role="alert2"]').style.display = 'block';
       // Delay redirection to previous page for 5 seconds
       setTimeout(function () {
                location.reload();
              }, 1000);
    }


   
    // Add your logic here to update the user profile or perform other actions

    // Return false to prevent the form from submitting (since you're handling it with JavaScript)
    return false;
  }
</script>

<script>

  function signOut()
  {

    history.pushState(null, null, location.href);
    window.onpopstate = function () {
      history.go(1);
    };

        // Clear the session storage
    sessionStorage.clear();

    // Redirect to the login page
    window.location.replace('login.html');
  }

</script>


</body>

</html>